
.img-custom {
    width: auto !important;
    height: 40px !important;
  }
  
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
    
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 200%;
    color: white;
  }
    
  .custom {
    min-width: 78px !important;
  }
  